<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="d-flex">
        <div>
            <img src="http://placeimg.com/480/480/abstract" alt="" class="RuiImage">
        </div>

        <div>
            <img src="http://placeimg.com/480/480/abstract" alt="" class="RuiImage--rounded">
        </div>
    </div>

</body>

</html>