<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three columns</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiGrid RuiGrid--three-column">
        <div class="RuiFlex--Centered bg-silver">
            <h1 class="RuiTypography__h1 RuiTypography--colorTextPrimary">Grid 1</h1>
        </div>
        <div class="RuiFlex--Centered bg-gray">
            <h1 class="RuiTypography__h1 RuiTypography--colorTextPrimary">Grid 2</h1>
        </div>
        <div class="RuiFlex--Centered bg-silver">
            <h1 class="RuiTypography__h1 RuiTypography--colorTextPrimary">Grid 3</h1>
        </div>
    </div>
</body>

</html>