<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with badges</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded RuiCard--positionRelative">
        <button class="RuiButtonBase RuiCard__Action__Area " type="button">
            <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food" alt="">

            <button class="RuiButtonBase RuiIconButton RuiCard__badge--displayRight">
                <div class="RuiBadge">
                    <span class="RuiBadge__Icon"><i class="fas fa-comment-dots c-maroon"></i></span>
                    <span
                        class="RuiBadge__badge RuiBadge__badge--colorSecondary RuiBadge__badge--anchorOriginTopRight">10</span>
                </div>
            </button>

            <div class="RuiCard__content">
                <h2 class="RuiTypography__h2">saepe</h2>
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a officiis
                    voluptatem.</p>
            </div>
        </button>
    </div>
</body>

</html>