<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with text overlay</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded">
        <button class="RuiButtonBase RuiCard__Action__Area RuiCard--positionRelative" type="button">
            <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food" alt="">
            <div class="RuiCard__content RuiCard__content--overlay">
                <h2 class="RuiTypography__h2">saepe</h2>
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a
                    officiis
                    voluptatem.</p>
            </div>
        </button>
        <div class="RuiCard__actions">
            <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary">Share</button>
            <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary ml-3">Learn
                More</button>
        </div>
    </div>
</body>

</html>