<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <h2 class="RuiTypography__h2">Simple Card with shadow</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded">
            <div class="RuiCard__content">
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Word of the Day</p>
                <h2 class="RuiTypography__h2">I am crazy.</h2>
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary mb-5">adjective</p>
                <p class="RuiTypography__body2">
                    Soap The automobile layout consists
                    <br />
                    of a front-engine design.
                </p>
            </div>
            <div class="RuiCard__actions">
                <button class="btn btn__text">Learn More</button>
            </div>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Outlined Card</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--outlined RuiPaper--rounded">
            <div class="RuiCard__content">
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Word of the Day</p>
                <h2 class="RuiTypography__h2">I am crazy.</h2>
                <p class="RuiTypography__body1 RuiTypography--colorTextSecondary mb-5">adjective</p>
                <p class="RuiTypography__body2">
                    Soap The automobile layout consists
                    <br />
                    of a front-engine design.
                </p>
            </div>
            <div class="RuiCard__actions">
                <button class="btn btn__text">Learn More</button>
            </div>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Media First Card</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded">
            <button class="RuiButtonBase RuiCard__Action__Area" type="button">
                <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food"
                    alt="">
                <div class="RuiCard__content">
                    <h2 class="RuiTypography__h2">saepe</h2>
                    <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a officiis
                        voluptatem.</p>
                </div>
            </button>
            <div class="RuiCard__actions">
                <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary">Share</button>
                <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary ml-3">Learn
                    More</button>
            </div>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Card with Badge</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded rss007">
            <button class="RuiButtonBase RuiCard__Action__Area " type="button">
                <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food"
                    alt="">

                <button class="RuiButtonBase RuiIconButton rss006">
                    <div class="RuiBadge">
                        <span class="RuiBadge__Icon"><i class="fas fa-heart c-red"></i></span>
                        <span class="RuiBadge__badge RuiBadge__badge--anchorOriginTopRight">10</span>
                    </div>
                </button>

                <div class="RuiCard__content">
                    <h2 class="RuiTypography__h2">saepe</h2>
                    <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a officiis
                        voluptatem.</p>
                </div>
            </button>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Horizontal Card</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded rss005">
            <div class="rss001">
                <div class="RuiCard__content">
                    <h2 class="RuiTypography__h2">saepe</h2>
                    <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a officiis
                        voluptatem.</p>
                </div>
                <div class="rss002">
                    <button class="RuiButtonBase RuiIconButton"><i
                            class="fas fa-angle-double-left RuiIconButton__Label"></i></button>
                    <button class="RuiButtonBase RuiIconButton"><i
                            class="fas fa-play RuiIconButton__Label rss004"></i></button>
                    <button class="RuiButtonBase RuiIconButton"><i
                            class="fas fa-angle-double-right RuiIconButton__Label"></i></button>
                </div>
            </div>
            <div class="rss003">
                <img class="RuiCard__media RuiCard__media--img" src="http://placeimg.com/640/480/food" alt="">
            </div>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Card with text overlay</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded">
            <button class="RuiButtonBase RuiCard__Action__Area rss007" type="button">
                <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food"
                    alt="">
                <div class="RuiCard__content rss008">
                    <h2 class="RuiTypography__h2">saepe</h2>
                    <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a
                        officiis
                        voluptatem.</p>
                </div>
            </button>
            <div class="RuiCard__actions">
                <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary">Share</button>
                <button class="RuiButtonBase RuiButton RuiButton--textSizeSmall RuiButton--textPrimary ml-3">Learn
                    More</button>
            </div>
        </div>
    </div>

    <h2 class="RuiTypography__h2">Card with Dismiss</h2>
    <div class="card__container">
        <div class="RuiPaper RuiCard RuiPaper--elevation1 RuiPaper--rounded rss007">
            <button class="RuiButtonBase RuiCard__Action__Area " type="button">
                <img class="RuiCard__media RuiCard__media--img" height="150" src="http://placeimg.com/640/480/food"
                    alt="">

                <div class="RuiCard__content">
                    <h2 class="RuiTypography__h2">saepe</h2>
                    <p class="RuiTypography__body1 RuiTypography--colorTextSecondary">Libero soluta aut a officiis
                        voluptatem.</p>
                </div>
            </button>
            <div class="RuiCard__actions rss009">
                <button class="RuiButtonBase RuiButton RuiButton--text RuiButton--textSecondary">
                    <span class="RuiButton__label">Dismiss</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>