.RuiTextField {
  margin: 0.8rem;
  width: 25rem;
  color: var(--text-color-dark);
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  letter-spacing: 0.00938rem;
  display: flex;
  align-items: center;
}

.RuiInputBase {
  color: inherit;
  border: 0;
  width: 100%;
  outline: none;
  cursor: text;
  margin: 0;
  display: block;
  min-width: 0;
  background: none;
  letter-spacing: inherit;
  animation-duration: 10ms;
}

.RuiInput {
  font-size: 1.6rem;
  height: 1.2rem;
  padding: 0.6rem 0 0.7rem;
}

.RuiInput--outlained {
  border: 1px solid var(--grey);
  padding: 1.8rem 1.4rem;
  border-radius: 5px;
}
.RuiInput--outlained:focus {
  border: 1px solid var(--text-color-dark);
}

.RuiInput--standerd {
  border-bottom: 1px solid var(--grey);
  padding: 1.8rem 0.5rem;
}
.RuiInput--standerd:focus {
  border-bottom: 1px solid var(--text-color-dark);
}

.RuiInput--error {
  border-color: var(--accent-color);
  background-color: var(--danger-bg);
}

.RuiInput--success {
  border-color: var(--success-color);
  background-color: var(--success-bg);
}

/* style for search input */
.RuiTextField__search {
  border: 1px solid var(--grey);
  border-radius: 5px;
  height: 4rem;
}
.RuiTextField__search input {
  height: auto;
}

.RuiInput__searchIcon {
  font-size: 2rem;
  right: 0;
  height: 100%;
  border-left: 1px solid var(--grey);
  border-radius: 0;
}
.RuiInput__searchIcon i {
  font-weight: 500;
}
