<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success textfield</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiTextField">
        <input type="text" name="input" class="RuiInputBase RuiInput RuiInput--outlained RuiInput--success"
            placeholder="Outlined Success Textbox">
    </div>
    <div class="RuiTextField">
        <input type="text" name="input" class="RuiInputBase RuiInput RuiInput--standerd RuiInput--success"
            placeholder="Standerd Success Textbox">
    </div>
</body>

</html>