<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div>
        <h2 class="RuiTypography__h2">Contained Buttons</h2>
        <button class="RuiButtonBase RuiButton RuiButton--contained m-2">
            <span class="RuiButton__label">Default</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2">
            <span class="RuiButton__label">Primary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedSecondary m-2">
            <span class="RuiButton__label">Secondary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained Rui__disabled m-2">
            <span class="RuiButton__label">Disabled</span>
        </button>
        <a class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2" href="#">
            <span class="RuiButton__label">Link</span>
        </a>

        <h2 class="RuiTypography__h2">Text Buttons</h2>
        <button class="RuiButtonBase RuiButton RuiButton--text m-2">
            <span class="RuiButton__label">Default</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--text RuiButton--textPrimary m-2">
            <span class="RuiButton__label">Primary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--text RuiButton--textSecondary m-2">
            <span class="RuiButton__label">Secondary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--text Rui__disabled m-2">
            <span class="RuiButton__label">Disabled</span>
        </button>
        <a class="RuiButtonBase RuiButton RuiButton--text RuiButton--textPrimary m-2" href="#">
            <span class="RuiButton__label">Link</span>
        </a>

        <h2 class="RuiTypography__h2">Outlined Buttons</h2>
        <button class="RuiButtonBase RuiButton RuiButton--outlined m-2">
            <span class="RuiButton__label">Default</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--outlined RuiButton--outlinedPrimary m-2">
            <span class="RuiButton__label">Primary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--outlined RuiButton--outlinedSecondary m-2">
            <span class="RuiButton__label">Secondary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--outlined Rui__disabled m-2">
            <span class="RuiButton__label">Disabled</span>
        </button>
        <a class="RuiButtonBase RuiButton RuiButton--outlined RuiButton--outlinedPrimary m-2" href="#">
            <span class="RuiButton__label">Link</span>
        </a>

        <h2 class="RuiTypography__h2">Small Size Buttons</h2>
        <button class="RuiButtonBase RuiButton RuiButton--contained m-2 RuiButton--textSizeSmall">
            <span class="RuiButton__label">Default</span>
        </button>
        <button
            class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2 RuiButton--textSizeSmall">
            <span class="RuiButton__label">Primary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--text RuiButton--textSecondary m-2 RuiButton--textSizeSmall">
            <span class="RuiButton__label">Secondary</span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--outlined Rui__disabled m-2 RuiButton--textSizeSmall">
            <span class="RuiButton__label">Disabled</span>
        </button>
        <a class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2 RuiButton--textSizeSmall"
            href="#">
            <span class="RuiButton__label">Link</span>
        </a>

        <h2 class="RuiTypography__h2">Icons Buttons</h2>
        <button class="RuiButtonBase RuiIconButton RuiIconButton--colorPrimary m-2">
            <span class="RuiIconButton__Label">
                <span class="RuiIconButton__Icon">
                    <i class="fas fa-user"></i>
                </span>
            </span>
        </button>
        <button class="RuiButtonBase RuiIconButton RuiIconButton--colorSecondary m-2">
            <span class="RuiIconButton__Label">
                <span class="RuiIconButton__Icon">
                    <i class="fas fa-trash"></i>
                </span>
            </span>
        </button>
        <button class="RuiButtonBase RuiIconButton Rui__disabled m-2">
            <span class="RuiIconButton__Label">
                <span class="RuiIconButton__Icon">
                    <i class="far fa-bell-slash"></i>
                </span>
            </span>
        </button>
        <a href="#" class="RuiButtonBase RuiIconButton RuiIconButton--colorPrimary m-2">
            <span class="RuiIconButton__Label">
                <span class="RuiIconButton__Icon">
                    <i class="fas fa-info-circle"></i>
                </span>
            </span>
        </a>

        <h2 class="RuiTypography__h2">Floating Actions Buttons</h2>
        <button class="RuiButtonBase RuiFloatButton RuiFloatButton--primary m-2">
            <span class="RuiButton__label">
                <i class="fas fa-upload"></i>
            </span>
        </button>
        <button class="RuiButtonBase RuiFloatButton RuiFloatButton--secondary m-2">
            <span class="RuiButton__label">
                <i class="fas fa-map-marked"></i>
            </span>
        </button>

        <h2 class="RuiTypography__h2">Buttons with icons and label</h2>
        <button class="RuiButtonBase RuiButton RuiButton--contained m-2">
            <span class="RuiButton__label">
                <span class="RuiButton__startIcon"><i class="fas fa-home"></i></span>
                <span class="pt-1">Home</span>
            </span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2">
            <span class="RuiButton__label">
                <span class="RuiButton__startIcon"><i class="fas fa-user"></i></span>
                <span class="pt-1">Profile</span>
            </span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedSecondary m-2">
            <span class="RuiButton__label">
                <span class="RuiButton__startIcon"><i class="fas fa-trash"></i></span>
                <span class="pt-1">Delete</span>
            </span>
        </button>
        <button class="RuiButtonBase RuiButton RuiButton--contained Rui__disabled m-2">
            <span class="RuiButton__label">
                <span class="RuiButton__startIcon"><i class="far fa-bell-slash"></i></span>
                <span class="pt-1">Disable</span>
            </span>
        </button>
    </div>
</body>

</html>