/* basic style for buttons */
.RuiButtonBase {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.RuiButtonBase.Rui__disabled {
  cursor: default;
  pointer-events: none;
}

.RuiButton {
  color: var(--text-color-dark);
  padding: 0.6rem 1.6rem;
  font-size: 1.6rem;
  min-width: 6.4rem;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

/* style for contained buttons */
.RuiButton--contained {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
}

.RuiButton--containedPrimary {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.RuiButton--containedSecondary {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.RuiButton--contained.Rui__disabled {
  color: var(--dark-grey);
  box-shadow: none;
  background-color: var(--grey-highlight);
}

/* style for text buttons */
.RuiButton--text {
  padding: 0.4rem 0.8rem;
}
.RuiButton--text:hover {
  background-color: var(--grey-highlight);
}

.RuiButton--textPrimary {
  color: var(--primary-color);
}
.RuiButton--textPrimary:hover {
  background-color: var(--primary-color-highlight);
}

.RuiButton--textSecondary {
  color: var(--accent-color);
}
.RuiButton--textSecondary:hover {
  background-color: var(--accent-color-highlight);
}

.RuiButton--text.Rui__disabled {
  color: var(--dark-grey);
}

/* style for outlined buttons */
.RuiButton--outlined {
  border: 1px solid var(--dark-grey);
  padding: 0.5rem 1.5rem;
}
.RuiButton--outlined:hover {
  background-color: var(--grey-highlight);
}

.RuiButton--outlinedPrimary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.RuiButton--outlinedPrimary:hover {
  background-color: var(--primary-color-highlight);
}

.RuiButton--outlinedSecondary {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.RuiButton--outlinedSecondary:hover {
  background-color: var(--accent-color-highlight);
}

.RuiButton--outlined.Rui__disabled {
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.RuiButton__label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.RuiButton--textSizeSmall {
  padding: 4px 5px;
  font-size: 1.35rem;
}

/* style for Icon buttons */
.RuiIconButton {
  flex: 0 0 auto;
  color: var(--text-color-dark);
  padding: 1.2rem;
  overflow: visible;
  font-size: 2.4rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.RuiIconButton:hover {
  background-color: var(--grey-highlight);
}

.RuiIconButton__Icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2.4rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.RuiIconButton__Label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.RuiIconButton--colorPrimary {
  color: var(--primary-color-light);
}

.RuiIconButton--colorSecondary {
  color: var(--accent-color);
}

.RuiIconButton.Rui__disabled {
  color: var(--dark-grey);
}

/* style for float button */
.RuiFloatButton {
  color: var(--text-color-dark);
  width: 5.6rem;
  height: 5.6rem;
  padding: 0;
  font-size: 2.4rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  min-height: 3.6rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  letter-spacing: 0.02857rem;
  text-transform: uppercase;
  background-color: var(--grey-highlight);
}

.RuiFloatButton--primary {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.RuiFloatButton--secondary {
  color: var(--text-color);
  background-color: var(--accent-color);
}

/* style for text with icon buttons */
.RuiButton__startIcon {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
