.RuiButtonBase {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.RuiButton {
  color: var(--text-color);
  padding: 0.6rem 1.6rem;
  font-size: 1.6rem;
  min-width: 6.4rem;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.RuiIconButton {
  flex: 0 0 auto;
  color: var(--text-color-dark);
  padding: 1.2rem;
  overflow: visible;
  font-size: 2.4rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.RuiIconButton:hover {
  background-color: var(--grey-highlight);
}

.RuiIconButton__Label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.RuiIconButton__Icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2.4rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.RuiIconButton--colorInherit {
  color: inherit;
}

.RuiButton--textPrimary {
  color: var(--primary-color);
}
.RuiButton--textPrimary:hover {
  background-color: var(--primary-color-highlight);
}

.RuiButton--textSizeSmall {
  padding: 4px 5px;
  font-size: 1.35rem;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  color: inherit;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn--primary {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.btn--secondary {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.btn--disabled {
  color: var(--dark-grey);
  background-color: var(--grey-highlight);
  cursor: not-allowed;
  box-shadow: none;
}

.btn--link {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}
.btn--link a {
  text-decoration: none;
}

/* text buttons */
.btn__text {
  color: inherit;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn__text:hover {
  background-color: var(--grey-highlight);
}

.btn__text--primary {
  color: var(--primary-color);
}
.btn__text--primary:hover {
  background-color: var(--primary-color-highlight);
}

.btn__text--secondary {
  color: var(--accent-color);
}
.btn__text--secondary:hover {
  background-color: var(--accent-color-highlight);
}

.btn__text--disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
}
.btn__text--disabled:hover {
  background-color: transparent;
}

.btn__text--link {
  color: var(--primary-color);
}
.btn__text--link:hover {
  background-color: var(--primary-color-highlight);
}

/* outlined buttons */
.btn__outline {
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--dark-grey);
  box-shadow: none;
}
.btn__outline:hover {
  background-color: var(--grey-highlight);
}

.btn__outline--primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn__outline--primary:hover {
  background-color: var(--primary-color-highlight);
}

.btn__outline--secondary {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.btn__outline--secondary:hover {
  background-color: var(--accent-color-highlight);
}

.btn__outline--disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}
.btn__outline--disabled:hover {
  background-color: transparent;
}

.btn__outline--link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn__outline--link:hover {
  background-color: var(--primary-color-highlight);
}

/* icons & floating Action Button */
.btn__icon {
  color: inherit;
  width: 5rem;
  height: 5rem;
  font-size: 2.4rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 50%;
}
.btn__icon:hover {
  background-color: var(--grey-highlight);
}

.btn__icon--primary {
  color: var(--primary-color);
}
.btn__icon--primary:hover {
  background-color: var(--primary-color-highlight);
}

.btn__icon--secondary {
  color: var(--accent-color);
}
.btn__icon--secondary:hover {
  background-color: var(--accent-color-highlight);
}

.btn__icon--disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
}
.btn__icon--disabled:hover {
  background-color: transparent;
}

.btn__icon--link {
  color: var(--primary-color);
}
.btn__icon--link:hover {
  background-color: var(--primary-color-highlight);
}

/* Buttons with icons and labels */
.btn__icon__label {
  color: inherit;
  border: none;
  box-shadow: none;
  background-color: var(--grey-highlight);
}
.btn__icon__label i {
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

.btn__icon__label--primary {
  color: var(--primary-color);
  background-color: var(--primary-color-highlight);
}

.btn__icon__label--secondary {
  color: var(--accent-color);
  background-color: var(--accent-color-highlight);
}

.btn__icon__label--disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey-highlight);
}

.btn__icon__label--link {
  color: var(--primary-color);
  background-color: var(--primary-color-highlight);
}

/* Floating Action Button */
.btn__float {
  color: inherit;
  width: 5rem;
  height: 5rem;
  font-size: 2.4rem;
  background-color: var(--grey-highlight);
  border: none;
  border-radius: 50%;
}

.btn__float--primary {
  color: var(--primary-color);
  background-color: var(--primary-color-highlight);
}

.btn__float--secondary {
  color: var(--accent-color);
  background-color: var(--accent-color-highlight);
}
