<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contained buttons</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <button class="RuiButtonBase RuiButton RuiButton--contained m-2">
        <span class="RuiButton__label">Default</span>
    </button>
    <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2">
        <span class="RuiButton__label">Primary</span>
    </button>
    <button class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedSecondary m-2">
        <span class="RuiButton__label">Secondary</span>
    </button>
    <button class="RuiButtonBase RuiButton RuiButton--contained Rui__disabled m-2">
        <span class="RuiButton__label">Disabled</span>
    </button>
    <a class="RuiButtonBase RuiButton RuiButton--contained RuiButton--containedPrimary m-2" href="#">
        <span class="RuiButton__label">Link</span>
    </a>
</body>

</html>