<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icons buttons</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <button class="RuiButtonBase RuiIconButton RuiIconButton--colorPrimary m-2">
        <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
                <i class="fas fa-user"></i>
            </span>
        </span>
    </button>
    <button class="RuiButtonBase RuiIconButton RuiIconButton--colorSecondary m-2">
        <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
                <i class="fas fa-trash"></i>
            </span>
        </span>
    </button>
    <button class="RuiButtonBase RuiIconButton Rui__disabled m-2">
        <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
                <i class="far fa-bell-slash"></i>
            </span>
        </span>
    </button>
    <a href="#" class="RuiButtonBase RuiIconButton RuiIconButton--colorPrimary m-2">
        <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
                <i class="fas fa-info-circle"></i>
            </span>
        </span>
    </a>
</body>

</html>