<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Avatar</title>
  <link rel="stylesheet" href="../../styles.css" />
</head>

<body>
  <h1 class="RuiTypography__h1">Image avatars</h1>
  <div class="RuiAvatar__items">
    <div class="RuiAvatar m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
    </div>
  </div>


  <h1 class="RuiTypography__h1">Letter avatars</h1>
  <div class="RuiAvatar__items">
    <div class="RuiAvatar RuiAvatar--colorDefault m-2">
      S
    </div>
    <div class="RuiAvatar RuiAvatar--colorPrimary m-2">
      SK
    </div>
    <div class="RuiAvatar RuiAvatar--colorSecondary m-2">
      SC
    </div>
  </div>


  <h1 class="RuiTypography__h1">Sizes</h1>
  <div class="RuiAvatar__items">
    <div class="RuiAvatar s-4 m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
    </div>
    <div class=" RuiAvatar s-5 m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar s-6 m-2">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
    </div>
  </div>

  <h1 class="RuiTypography__h1">Icon avatars</h1>
  <div class="RuiAvatar__items">
    <div class="RuiAvatar RuiAvatar--colorDefault m-2">
      <i class="fas fa-folder"></i>
    </div>
    <div class="RuiAvatar RuiAvatar--colorPrimary m-2">
      <i class="fas fa-search"></i>
    </div>
    <div class="RuiAvatar RuiAvatar--colorSecondary m-2">
      <i class="fas fa-user"></i>
    </div>
  </div>

  <h1 class="RuiTypography__h1">Grouped avatars</h1>
  <div class="RuiAvatar__items">
    <div class="RuiAvatar RuiAvatarGroup__avatar">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar RuiAvatarGroup__avatar">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar RuiAvatarGroup__avatar">
      <img class="RuiAvatar--img" src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
    </div>
    <div class="RuiAvatar RuiAvatarGroup__avatar RuiAvatar--colorDefault">
      +2
    </div>
  </div>
</body>

</html>