<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sizes avatars</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiAvatar__items">
        <div class="RuiAvatar s-4 m-2">
            <img class="RuiAvatar--img" src="../../static/images/avatar/1.jpeg" alt="Avatar" />
        </div>
        <div class=" RuiAvatar s-5 m-2">
            <img class="RuiAvatar--img" src="../../static/images/avatar/2.jpeg" alt="Avatar" />
        </div>
        <div class="RuiAvatar s-6 m-2">
            <img class="RuiAvatar--img" src="../../static/images/avatar/3.jpeg" alt="Avatar" />
        </div>
    </div>
</body>

</html>