<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NavBar</title>
  <link rel="stylesheet" href="../../styles.css" class="stylesheet" />
</head>

<body>
  <h3 class="RuiTypography__h3">Navbar with icons</h3>
  <header class="RuiPaper RuiAppbar RuiAppBar--positionStatic RuiAppBar--colorPrimary RuiPaper--elevation3">
    <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">

      <button class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit mr-5">
        <span class="RuiIconButton__Label">
          <span class="RuiIconButton__Icon">
            <i class="fas fa-bars"></i>
          </span>
        </span>
      </button>
      <h3 class="RuiTypography__h3 mt-2">My UI</h3>

      <div class="ml-auto">
        <button class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit m-2">
          <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
              <i class="far fa-sun"></i>
            </span>
          </span>
        </button>
        <a href="#" class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit m-2">
          <span class="RuiIconButton__Label">
            <span class="RuiIconButton__Icon">
              <i class="fab fa-github"></i>
            </span>
          </span>
        </a>
      </div>

    </div>
  </header>

  <h3 class="RuiTypography__h3 mt-2">Navbar with side-navigation</h3>
  <header class="RuiPaper RuiAppbar RuiAppBar--positionStatic RuiAppBar--colorPrimary RuiPaper--elevation3">
    <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">

      <button class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit mr-5">
        <span class="RuiIconButton__Label">
          <span class="RuiIconButton__Icon">
            <i class="fas fa-bars"></i>
          </span>
        </span>
      </button>
      <h3 class="RuiTypography__h3 mt-2">My UI</h3>
    </div>
  </header>

  <h3 class="RuiTypography__h3 mt-2">Simple Navbar</h3>
  <header class="RuiPaper RuiAppbar RuiAppBar--positionStatic RuiAppBar--colorPrimary RuiPaper--elevation3">
    <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">
      <h3 class="RuiTypography__h3 mt-2">My UI</h3>
    </div>
  </header>
</body>

</html>