.RuiAppbar {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}
.RuiAppBar--colorPrimary {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.RuiAppBar--positionStatic {
  position: static;
}

.RuiToolbar {
  display: flex;
  position: relative;
  align-items: center;
}

.RuiToolbar--regular {
  min-height: 5.6rem;
}

.RuiToolbar--gutters {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media (min-width: 600px) {
  .RuiToolbar--regular {
    min-height: 6.4rem;
  }
}

@media (min-width: 600px) {
  .RuiToolbar--gutters {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
