<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with side navigation</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <header class="RuiPaper RuiAppbar RuiAppBar--positionSticky RuiAppBar--colorPrimary RuiPaper--elevation3">
        <div class="RuiContainer RuiContainer--lg">
            <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">
                <button onclick="showDrawerModel()" id="RuiNavToggle"
                    class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit mr-5">
                    <span class="RuiIconButton__Label">
                        <span class="RuiIconButton__Icon">
                            <i class="fas fa-bars"></i>
                        </span>
                    </span>
                </button>
                <h3 class="RuiTypography__h3 mt-2">My UI</h3>
            </div>
        </div>
    </header>

    <div class="RuiContainer RuiContainer--lg">
        <div class="RuiNavAndContent__grid">
            <div id="RuiNav--left" class="RuiNav--borderRight">
                <div class="RuiDrawer">
                    <div class="RuiDrawer__item RuiDrawer__item--selected">
                        Getting Started
                    </div>
                    <div class="RuiDrawer__items">
                        <h4 class="RuiTypography__h4 RuiDrawer__title mt-5">Elements</h4>
                        <div class="RuiDrawer__item">Avatar</div>
                        <div class="RuiDrawer__item">Badge</div>
                        <div class="RuiDrawer__item">Button</div>
                        <div class="RuiDrawer__item">Image</div>
                        <div class="RuiDrawer__item">Input</div>
                    </div>
                </div>
            </div>

            <div id="RuiMain">
                <H1 class="RuiTypography__h1">Appbar with side nav</H1>
            </div>

            <div id="RuiContent--right" class="RuiNav--borderLeft">
                <div class="RuiList__items">
                    <div class="RuiList__item">Item 1</div>
                    <div class="RuiList__item">Item 2</div>
                    <div class="RuiList__item">Item 3</div>
                    <div class="RuiList__item">Item 4</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="RuiDrawer__model" id="toggleRuiDrawerModel">
        <div class="RuiBackdrop" onclick="closeDrawerModel()"></div>
        <div class="RuiModel__content">
            <div class="RuiDrawer">
                <div class="RuiDrawer__header mb-2 pb-2">
                    <h2 class="RuiTypography__h2 RuiTypography--colorTextPrimary mt-1">My UI</h2>
                    <button onclick="closeDrawerModel()" class="RuiButtonBase RuiIconButton RuiTypography--colorDanger">
                        <span class="RuiIconButton__Label">
                            <span class="RuiIconButton__Icon">
                                <i class="fas fa-times"></i>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="RuiDrawer__item RuiDrawer__item--selected">
                    Getting Started
                </div>
                <div class="RuiDrawer__items">
                    <h4 class="RuiTypography__h4 RuiDrawer__title mt-5">Elements</h4>
                    <div class="RuiDrawer__item">Avatar</div>
                    <div class="RuiDrawer__item">Badge</div>
                    <div class="RuiDrawer__item">Button</div>
                    <div class="RuiDrawer__item">Image</div>
                    <div class="RuiDrawer__item">Input</div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../../static/js/toggleSidebar.js"></script>

</html>