<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with side navigation</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <header class="RuiPaper RuiAppbar RuiAppBar--positionSticky RuiAppBar--colorPrimary RuiPaper--elevation3">
        <div class="RuiContainer RuiContainer--lg">
            <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">
                <h3 class="RuiTypography__h3 mt-2">My UI</h3>
            </div>
        </div>
    </header>

    <div class="RuiContainer RuiContainer--lg">
        <div class="RuiContent__grid">
            <div id="RuiContent--right" class="RuiNav--borderLeft">
                <div class="RuiList__items">
                    <div class="RuiList__item">Item 1</div>
                    <div class="RuiList__item">Item 2</div>
                    <div class="RuiList__item">Item 3</div>
                    <div class="RuiList__item">Item 4</div>
                </div>
            </div>
            <div id="RuiMain">
                <H1 class="RuiTypography__h1">Appbar with side content</H1>
            </div>
        </div>
    </div>
</body>

</html>