.RuiAppbar {
  width: 100%;
  display: flex;
  z-index: 1100;
  flex-direction: column;
  align-items: center;
}

.RuiAppBar--colorPrimary {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.RuiAppBar--positionStatic {
  position: static;
}
.RuiAppBar--positionFixed {
  position: fixed;
}
.RuiAppBar--positionSticky {
  position: sticky;
  top: 0;
}

.RuiToolbar__container {
  width: 100%;
}

.RuiToolbar__container--lg {
  max-width: var(--container-lg);
}

.RuiToolbar {
  display: flex;
  position: relative;
  align-items: center;
}

.RuiToolbar--regular {
  min-height: 5.6rem;
}

.RuiToolbar--gutters {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media (min-width: 600px) {
  .RuiToolbar--regular {
    min-height: 6.4rem;
  }
}

/* style for search navbar */
.RuiAppBar__search {
  display: flex;
  justify-content: space-between;
}
.RuiAppBar__search__content {
  display: flex;
  align-items: center;
}
.RuiAppBar__search__content h3 {
  white-space: nowrap;
}
.RuiAppBar__search__content .RuiButtonBase {
  display: none;
}
.RuiAppBar__search__searchBar {
  max-width: 60rem;
  width: 100%;
  background-color: var(--secondary-color);
}
.RuiAppBar__search__searchBar--after {
  width: 100%;
  background-color: var(--secondary-color);
  display: none;
}
.RuiAppBar__search__searchBar--after {
  margin: 0;
  border-radius: 0;
}
.RuiAppBar__search__action {
  display: flex;
  align-items: center;
}
.RuiAppBar__search__action .RuiButton {
  font-weight: 700;
  background-color: var(--secondary-color);
}
.RuiAppBar__search__action--icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
.RuiAppBar__search__action .RuiBadge__badge {
  background-color: var(--accent-color);
}

@media screen and (max-width: 600px) {
  .RuiAppBar__search__content .RuiButtonBase {
    display: block;
  }
  .RuiAppBar__search__searchBar {
    display: none;
  }
  .RuiAppBar__search__searchBar--after {
    display: flex;
  }
}
@media screen and (max-width: 350px) {
  .RuiAppBar__search__action--icons {
    display: none;
  }
}

/* style for navbar with side nav */
#RuiNavToggle {
  display: none;
}
.RuiNavAndContent__grid {
  display: grid;
  grid-template-columns: 240px 1fr 180px;
  grid-template-areas: "nav main content";

  min-height: calc(100vh - 6.4rem);
}
.RuiNav__grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav main";

  min-height: calc(100vh - 6.4rem);
}
.RuiContent__grid {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-areas: "main content";

  min-height: calc(100vh - 6.4rem);
}
/*declare grid areas*/
#RuiNav--left {
  grid-area: nav;
}
#RuiMain {
  grid-area: main;
}
#RuiContent--right {
  grid-area: content;
}
/*media query*/
@media only screen and (max-width: 1100px) {
  .RuiNavAndContent__grid {
    grid-template-columns: 1fr 180px;
    grid-template-areas: "main content";
  }
  .RuiNav__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  #RuiNav--left {
    display: none;
  }
  #RuiNavToggle {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .RuiNavAndContent__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  .RuiContent__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  #RuiContent--right {
    display: none;
  }
}
