<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple navbar</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <header class="RuiPaper RuiAppbar RuiAppBar--positionStatic RuiAppBar--colorPrimary RuiPaper--elevation3">
        <div class="RuiToolbar__container">
            <div class="RuiToolbar RuiToolbar--regular RuiToolbar--gutters">
                <h3 class="RuiTypography__h3 mt-2">My UI</h3>
            </div>
        </div>
    </header>
</body>

</html>