<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Avatar</title>
  <link rel="stylesheet" href="../styles.css" />
</head>

<body>
  <div class="avatar__container">
    <div class="avatar__group">
      <h1>Image avatars</h1>
      <div class="avatar__items">
        <div class="avatar__item">
          <img src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
        </div>
        <div class="avatar__item">
          <img src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
        </div>
        <div class="avatar__item">
          <img src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
        </div>
      </div>
    </div>
    <div class="avatar__group">
      <h1>Letter avatars</h1>
      <div class="avatar__items">
        <div class="avatar__item bg-gray">
          S
        </div>
        <div class="avatar__item bg-pink">
          SK
        </div>
        <div class="avatar__item bg-blue">
          SC
        </div>
      </div>
    </div>
    <div class="avatar__group">
      <h1>Sizes</h1>
      <div class="avatar__items">
        <div class="avatar__item s-4">
          <img src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
        </div>
        <div class="avatar__item s-5">
          <img src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
        </div>
        <div class="avatar__item s-6">
          <img src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
        </div>
      </div>
    </div>
    <div class="avatar__group">
      <h1>Icon avatars</h1>
      <div class="avatar__items">
        <div class="avatar__item bg-gray">
          <i class="fas fa-folder"></i>
        </div>
        <div class="avatar__item bg-red">
          <i class="fas fa-search"></i>
        </div>
        <div class="avatar__item bg-green">
          <i class="fas fa-user"></i>
        </div>
      </div>
    </div>
    <div class="avatar__group">
      <h1>Grouped avatars</h1>
      <div class="avatar__grouped__items">
        <div class="avatar__grouped__item">
          <img src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
        </div>
        <div class="avatar__grouped__item">
          <img src="https://v4.mui.com/static/images/avatar/2.jpg" alt="Avatar" />
        </div>
        <div class="avatar__grouped__item">
          <img src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
        </div>
        <div class="avatar__grouped__item bg-gray">
          +2
        </div>
      </div>
    </div>
  </div>
</body>

</html>