<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <link rel="stylesheet" href="../styles.css" class="stylesheet" />
  </head>
  <body>
    <div class="navbar p-5">
      <div class="navbar__content">
        <i class="fas fa-bars"></i>
        <h2>My Ui</h2>
      </div>
      <div class="navbar__icons">
        <a href="#" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <i class="far fa-sun"></i>
      </div>
    </div>
  </body>
</html>
