<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <h1 class="RuiTypography__h1">Simple list</h1>
    <div class="RuiPaper RuiList__container">
        <p class="RuiList__title RuiList__title--sticky">Simple List</p>
        <div class="RuiList__items">
            <div class="RuiList__item">Item 1</div>
            <div class="RuiList__item">Item 2</div>
            <div class="RuiList__item">Item 3</div>
            <div class="RuiList__item">Item 4</div>
        </div>
    </div>

    <h1 class="RuiTypography__h1">List with icons</h1>
    <div class="RuiPaper RuiList__container">
        <p class="RuiList__title RuiList__title--sticky">Simple List</p>
        <div class="RuiList__items">
            <div class="RuiList__item">
                <div class="RuiList__item--icon"><i class="fas fa-paper-plane"></i></div>
                <div class="RuiList__item--text">Item 1</div>
            </div>
            <div class="RuiList__item">
                <div class="RuiList__item--icon"><i class="fas fa-mars"></i></div>
                <div class="RuiList__item--text">Item 2</div>
            </div>
            <div class="RuiList__item">
                <div class="RuiList__item--icon"><i class="fas fa-mail-bulk"></i></div>
                <div class="RuiList__item--text">Item 3</div>
            </div>
            <div class="RuiList__item">
                <div class="RuiList__item--icon"><i class="fas fa-recycle"></i></div>
                <div class="RuiList__item--text">Item 4</div>
            </div>
        </div>
    </div>

    <h1 class="RuiTypography__h1">Stacked list</h1>
    <div class="RuiPaper RuiList__container">
        <div class="RuiList__items py-2">
            <div class="RuiList__item RuiList__item--stacked">Notification 1</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 2</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 3</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 4</div>
        </div>
    </div>
</body>

</html>