<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacked list</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiPaper RuiList__container">
        <div class="RuiList__items py-2">
            <div class="RuiList__item RuiList__item--stacked">Notification 1</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 2</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 3</div>
            <div class="RuiList__item RuiList__item--stacked">Notification 4</div>
        </div>
    </div>
</body>

</html>