<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawer</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiSimpleDrawer--container">
        <div class="RuiSimpleDrawer">
            <div class="RuiSimpleDrawer__content">
                <h2 class="RuiTypography__h2">Title</h2>
                <h4 class="RuiTypography__body1">Sub-title</h4>
            </div>
            <div class="RuiSimpleDrawer__items">
                <div class="RuiSimpleDrawer__item RuiSimpleDrawer__item--selected"><i class="fas fa-inbox-in"></i> Inbox
                </div>
                <div class="RuiSimpleDrawer__item"><i class="fas fa-star"></i> Important</div>
                <div class="RuiSimpleDrawer__item"><i class="fas fa-paper-plane"></i> Send Mail</div>
                <div class="RuiSimpleDrawer__item"><i class="fas fa-envelope-open-text"></i> Drafts</div>
                <div class="RuiSimpleDrawer__item"><i class="fas fa-clock"></i> Snoosed</div>
                <div class="RuiSimpleDrawer__item"><i class="fad fa-octagon"></i> Spam</div>
                <div class="RuiSimpleDrawer__item"><i class="fas fa-trash-alt"></i> Trash</div>
            </div>
        </div>
    </div>
</body>

</html>