.RuiGridLayout {
  padding-top: 6.4rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 240px 1fr 180px;
  grid-template-areas: "nav main aside";
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
  /* transition: all 0.5s ease-in-out; */
}

.RuiNav--borderRight {
  border-right: 1px solid var(--light-grey);
}
.RuiNav--borderLeft {
  border-left: 1px solid var(--light-grey);
}

.RuiMain {
  margin: 8rem 8rem 0 8rem;
  transition: margin 0.5s;
}

.RuiHeading .RuiTypography__h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

@media only screen and (max-width: 1100px) {
  .RuiGridLayout {
    grid-template-columns: 1fr 180px;
    grid-template-areas: "main aside";
  }
  nav {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .RuiGridLayout {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  nav {
    display: none;
  }
  aside {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .RuiMain {
    margin: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .RuiMain {
    margin: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .RuiMain {
    margin: 1rem;
  }
}
