<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiPaper s-10"></div>

    <div class="RuiPaper RuiPaper--outlined s-10"></div>

    <div class="RuiPaper RuiPaper--rounded RuiPaper--elevation1 s-10"></div>

    <div class="RuiPaper RuiPaper--rounded RuiPaper--elevation2 s-10"></div>

    <div class="RuiPaper RuiPaper--rounded RuiPaper--elevation3 s-10"></div>

    <div class="RuiPaper RuiPaper--rounded RuiPaper--elevation4 s-10"></div>
</body>

</html>