<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge on text</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiBadge m-5">
        <p class="RuiTypography__body1">Likes</p>
        <span class="RuiBadge__badge RuiBadge__badge--colorPrimary RuiBadge__badge--anchorOriginTopRight">0</span>
    </div>
    <div class="RuiBadge m-5">
        <p class="RuiTypography__body1">Comments</p>
        <span class="RuiBadge__badge RuiBadge__badge--colorPrimary RuiBadge__badge--anchorOriginTopRight">3</span>
    </div>
    <div class="RuiBadge m-5">
        <p class="RuiTypography__body1">Share</p>
        <span class="RuiBadge__badge RuiBadge__badge--colorPrimary RuiBadge__badge--anchorOriginTopRight">100</span>
    </div>
</body>

</html>