.badge__group {
  min-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-grey);
  gap: 2rem;
}

.badge__text {
  padding-right: 1.7rem;
  padding-top: 1.7rem;
  font-size: 2rem;
  color: inherit;
  position: relative;
}

.badge__text span:first-child {
  /*contentcenter*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*positioning*/
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-color);
  font-size: 0.8em;
  min-width: 1.6em;
  padding: 0.25rem;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 15px;
}

/* Bagde on avatar */
.badge__avatar {
  padding-right: 0.7rem;
  padding-top: 0.7rem;
  font-size: 2rem;
  color: inherit;
  position: relative;
}

.badge__avatar span:first-child {
  /*contentcenter*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*positioning*/
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-color);
  font-size: 0.8em;
  min-width: 1.6em;
  padding: 0.25rem;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 15px;
}

.badge__avatar--status--top span:first-child {
  min-width: 1.2rem;
  min-height: 1.2rem;
  padding: 0;
  top: 1.5rem;
  right: 1rem;
}

.badge__avatar--status--bottom span:first-child {
  min-width: 1.2rem;
  min-height: 1.2rem;
  padding: 0;
  top: 4.8rem;
  right: 1rem;
}

.badge__icons {
  padding-right: 1.3rem;
  padding-top: 1.3rem;
  font-size: 3rem;
  position: relative;
}

.badge__icons span:first-child {
  /*contentcenter*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*positioning*/
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-color);
  font-size: 1.2rem;
  min-width: 2.2rem;
  padding: 0.25rem;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 15px;
}

.RuiBadge {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
}

.RuiBadge__badge {
  color: var(--text-color);
  height: 2rem;
  display: flex;
  /* padding: 0 0.6rem; */
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 1rem;
  min-width: 2rem;
  box-sizing: border-box;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  align-content: center;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--text-color);
}

.RuiBadge--anchorOriginTopRightRectangular {
  top: -0.1rem;
  right: -0.1rem;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
