<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Badge</title>
  <link rel="stylesheet" href="../../styles.css" />
</head>

<body>
  <div class="badge__group p-5">
    <div class="badge">
      <span class="bg-blue">100</span>
      <span>Likes</span>
    </div>
    <div class="badge">
      <span class="bg-green">3</span>
      <span>Comments</span>
    </div>
    <div class="badge">
      <span class="bg-gray">9</span>
      <span>Share</span>
    </div>
    <div class="badge">
      <span class="bg-red">23</span>
      <button>Follow</button>
    </div>
  </div>
</body>

</html>