<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Badge</title>
  <link rel="stylesheet" href="../../styles.css" />
</head>

<body>
  <h2>Badge on Text</h2>
  <div class="badge__group p-3 mx-3 mb-5 mt-1">
    <div class="badge__text">
      <span class="bg-blue">100</span>
      <span>Likes</span>
    </div>
    <div class="badge__text">
      <span class="bg-green">3</span>
      <span>Comments</span>
    </div>
    <div class="badge__text">
      <span class="bg-gray">9</span>
      <span>Share</span>
    </div>
  </div>

  <h2>Badge on Avatar</h2>
  <div class="badge__group p-3 mx-3 mb-5 mt-1">
    <div class="badge__avatar">
      <span class="bg-blue">10</span>
      <div class="avatar__item">
        <img src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
      </div>
    </div>
    <div class="badge__avatar badge__avatar--status--top">
      <span class="bg-gray"></span>
      <div class="avatar__item bg-pink">
        SK
      </div>
    </div>
    <div class="badge__avatar badge__avatar--status--bottom">
      <span class="bg-green"></span>
      <div class="avatar__item">
        <img src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
      </div>
    </div>
  </div>

  <h2>Badge on Icons</h2>
  <div class="badge__group p-3 mx-3 mb-5 mt-1">
    <div class="badge__icons">
      <span class="bg-blue">100</span>
      <span><i class="fas fa-share-square c-blue"></i></span>
    </div>
    <div class="badge__icons">
      <span class="bg-green">3</span>
      <span><i class="fas fa-comment-dots c-maroon"></i></span>
    </div>
    <div class="badge__icons">
      <span class="bg-gray">9</span>
      <span><i class="fas fa-heart c-red"></i></span>
    </div>
  </div>
</body>

</html>