<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge on avatar</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiBadge m-5">
        <div class="RuiBadge__avatar">
            <img class="RuiBadge__avatar--img" src="https://v4.mui.com/static/images/avatar/1.jpg" alt="Avatar" />
        </div>
        <span class="RuiBadge__badge RuiBadge__badge--anchorOriginTopRight">10</span>
    </div>
    <div class="RuiBadge m-5">
        <div class="RuiBadge__avatar bg-pink">
            SK
        </div>
        <span class="RuiBadge__badge RuiBadge__badge--anchorOriginTopRight RuiBadge--dot"></span>
    </div>
    <div class="RuiBadge m-5">
        <div class="RuiBadge__avatar">
            <img class="RuiBadge__avatar--img" src="https://v4.mui.com/static/images/avatar/3.jpg" alt="Avatar" />
        </div>
        <span class="RuiBadge__badge RuiBadge__badge--anchorOriginBottomRight RuiBadge--dot"></span>
    </div>
</body>

</html>