.RuiContainer {
  min-height: 100vh;
  background-color: var(--secondary-color-dark);
  position: relative;
}

.RuiMainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.RuiPosition--centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

.RuiMainActions {
  display: flex;
  gap: 1rem;
  margin: 3rem;
}
