.RuiMain {
  margin: 8rem 8rem 1rem 8rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
}

.RuiHeading .RuiTypography__h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

.RuiAvatar--Preview {
  margin: 0.2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.RuiPreview__code {
  font-size: 1.6rem;
  margin-top: -2rem;
  max-height: 600px;
  overflow: auto;
}

.RuiCodeBlock {
  font-size: large;
  background-color: var(--light-grey);
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  max-width: 80rem;
}

@media only screen and (max-width: 700px) {
  .RuiDrawer__model {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .RuiMain {
    margin: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .RuiMain {
    margin: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .RuiMain {
    margin: 1rem;
  }
}
