.RuiAlert {
  display: flex;
  padding: 6px 16px;
  font-size: 1.8rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  background-color: transparent;
}

.RuiAlert--standardError {
  color: var(--danger-color);
  background-color: var(--danger-bg);
}

.RuiAlert__icon {
  display: flex;
  opacity: 0.9;
  padding: 0.7rem 0;
  font-size: 2.4rem;
  margin-right: 1.2rem;
}

.RuiAlert__message {
  padding: 0.8rem 0;
}

.RuiAlert--standardWarning {
  color: var(--warning-color);
  background-color: var(--warning-bg);
}
.RuiAlert--standardInfo {
  color: var(--info-color);
  background-color: var(--info-bg);
}
.RuiAlert--standardSuccess {
  color: var(--text-color);
  background-color: var(--success-color);
}

#RuiAlert__title {
  margin-top: -2px;
  font-weight: 700;
}

.RuiAlert__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -8px;
  padding-left: 16px;
}

/* toast */
.RuiToast__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.RuiToast {
  position: fixed;
  margin-bottom: 2rem;
  bottom: 0;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .RuiToast__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
