<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="alert__container">
        <h2>Simple alerts</h2>
        <div class="alert alert--success">
            <div class="alert__icon">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="alert__message">
                This is a success alert— check it out!
            </div>
        </div>
        <div class="alert alert--info">
            <div class="alert__icon">
                <i class="far fa-info-circle"></i>
            </div>
            <div class="alert__message">
                This is an info alert— check it out!
            </div>
        </div>
        <div class="alert alert--warning">
            <div class="alert__icon">
                <i class="far fa-exclamation-circle"></i>
            </div>
            <div class="alert__message">
                This is a warning alert— check it out!
            </div>
        </div>
        <div class="alert alert--danger">
            <div class="alert__icon">
                <i class="far fa-times-circle"></i>
            </div>
            <div class="alert__message">
                This is a danger alert— check it out!
            </div>
        </div>

        <h2>Description</h2>
        <div class="alert alert--success">
            <div class="alert__icon">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="alert__message">
                <p>Success</p>
                <p>This is a success alert — check it out!</p>
            </div>
        </div>
        <div class="alert alert--info">
            <div class="alert__icon">
                <i class="far fa-info-circle"></i>
            </div>
            <div class="alert__message">
                <p>Info</p>
                <p>This is an info alert — check it out!</p>
            </div>
        </div>
        <div class="alert alert--warning">
            <div class="alert__icon">
                <i class="far fa-exclamation-circle"></i>
            </div>
            <div class="alert__message">
                <p>Warning</p>
                <p>This is a warning alert — check it out!</p>
            </div>
        </div>
        <div class="alert alert--danger">
            <div class="alert__icon">
                <i class="far fa-times-circle"></i>
            </div>
            <div class="alert__message">
                <p>Danger</p>
                <p>This is a danger alert — check it out!</p>
            </div>
        </div>

        <h2>Actions</h2>
        <div class="alert alert--success">
            <div class="alert__icon">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="alert__message">
                This is a success alert— check it out!
            </div>
            <div class="alert__actions">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="alert alert--success">
            <div class="alert__icon">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="alert__message">
                This is a success alert— check it out!
            </div>
            <div class="alert__actions">
                <button>undo</button>
            </div>
        </div>

        <h2>Toast</h2>
        <div class="alert__toast__action">
            <button onclick="showToast()">Open</button>
        </div>
        <div class="toast">
            <div class="alert alert--success alert__toast" id="alert__toast">
                <div class="alert__icon">
                    <i class="far fa-check-circle"></i>
                </div>
                <div class="alert__message">
                    This is a success alert— check it out!
                </div>
                <div class="alert__actions">
                    <button onclick="hideToast()">close</button>
                </div>
            </div>
        </div>


    </div>
</body>

<script src="./alert.js"></script>

</html>