<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert with action</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a success alert— check it out!
        </div>
        <div class="RuiAlert__actions">
            <button class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit">
                <span class="RuiIconButton__Label">
                    <span class="RuiIconButton__Icon">
                        <i class="fas fa-times"></i>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a success alert— check it out!
        </div>
        <div class="RuiAlert__actions">
            <button
                class="RuiButtonBase RuiButton RuiButton--outlined RuiButton--textSizeSmall RuiButton--outlinedSecondary s-3">
                <span class="RuiButton__label">Close</span>
            </button>
        </div>
    </div>
</body>

</html>