<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <h2 class="RuiTypography__h2">Simple alerts</h2>
    <div class="RuiPaper RuiAlert RuiAlert--standardError m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a success alert— check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardWarning m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-info-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is an info alert— check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardInfo m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-exclamation-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a warning alert— check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a danger alert— check it out!
        </div>
    </div>

    <h2>Description</h2>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            <div id="RuiAlert__title" class="RuiTypography__body1 RuiTypography--gutterBottom">Success</div>
            This is a success alert — check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardInfo m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-info-circle"></i>
        </div>
        <div class="RuiAlert__message">
            <div id="RuiAlert__title" class="RuiTypography__body1 RuiTypography--gutterBottom">Info</div>
            This is an info alert — check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardWarning m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-exclamation-circle"></i>
        </div>
        <div class="RuiAlert__message">
            <div id="RuiAlert__title" class="RuiTypography__body1 RuiTypography--gutterBottom">Warning</div>
            This is a warning alert — check it out!
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardError m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="RuiAlert__message">
            <div id="RuiAlert__title" class="RuiTypography__body1 RuiTypography--gutterBottom">Danger</div>
            This is a danger alert — check it out!
        </div>
    </div>

    <h2>Actions</h2>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a success alert— check it out!
        </div>
        <div class="RuiAlert__actions">
            <button class="RuiButtonBase RuiIconButton RuiIconButton--colorInherit">
                <span class="RuiIconButton__Label">
                    <span class="RuiIconButton__Icon">
                        <i class="fas fa-times"></i>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <div class="RuiPaper RuiAlert RuiAlert--standardSuccess m-2">
        <div class="RuiAlert__icon">
            <i class="far fa-check-circle"></i>
        </div>
        <div class="RuiAlert__message">
            This is a success alert— check it out!
        </div>
        <div class="RuiAlert__actions">
            <button
                class="RuiButtonBase RuiButton RuiButton--outlined RuiButton--textSizeSmall RuiButton--outlinedSecondary s-3">
                <span class="RuiButton__label">Close</span>
            </button>
        </div>
    </div>

    <h2>Toast</h2>

    <button onclick="showToast()" class="RuiButtonBase RuiButton RuiButton--contained RuiButton--textSizeSmall m-3">
        <span class="RuiButton__label">Open</span>
    </button>

    <div class="RuiToast__container">
        <div class="RuiPaper RuiAlert RuiAlert--standardSuccess RuiToast" id="ruiToast__js">
            <div class="RuiAlert__icon">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="RuiAlert__message">
                This is a success alert— check it out!
            </div>
            <div class="RuiAlert__actions">
                <button onclick="hideToast()"
                    class="RuiButtonBase RuiButton RuiButton--contained RuiButton--textSizeSmall RuiButton--outlinedSecondary s-3">
                    <span class="RuiButton__label">Close</span>
                </button>
            </div>
        </div>
    </div>
</body>

<script src="./alert.js"></script>

</html>