.bg-pink {
    background-color: #e91e63;
}

.bg-blue {
    background-color: #2196f3;
}

.bg-red {
    background-color: #f44336;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #afafaf;
}

.bg-black {
    background-color: #000;
}

.bg-purple {
    background-color: #9c27b0;
}

.bg-green {
    background-color: #4caf50;
}

.bg-yellow {
    background-color: #ffeb3b;
}

.bg-maroon {
    background-color: #800000;
}

.bg-voilet {
    background-color: #673ab7;
}

.bg-brown {
    background-color: #795548;
}

.bg-azure {
    background-color: #03a9f4;
}

.bg-ivory {
    background-color: #f5f5f5;
}

.bg-teal {
    background-color: #009688;
}

.bg-silver {
    background-color: #9e9e9e;
}

.bg-navyblue {
    background-color: #303f9f;
}

.bg-peagreen {
    background-color: #4caf50;
}

.bg-orange {
    background-color: #ff9800;
}

.bg-charcoal {
    background-color: #3e3e3e;
}

.bg-aquamarine {
    background-color: #2e8b57;
}

.bg-coral {
    background-color: #ff7f50;
}

.bg-fuchsia {
    background-color: #ff00ff;
}

.bg-wheat {
    background-color: #f5deb3;
}

.bg-khaki {
    background-color: #f0e68c;
}

.bg-lime {
    background-color: #ccff00;
}

.bg-crimson {
    background-color: #dc143c;
}

.bg-hotpink {
    background-color: #ff69b4;
}

.bg-magenta {
    background-color: #ff00ff;
}

.bg-olden {
    background-color: #cd853f;
}
.bg-plum {
    background-color: #dda0dd;
}

.bg-olive {
    background-color: #808000;
}

.bg-cyan {
    background-color: #00ffff;
}