.rss001 {
  display: flex;
  flex-direction: column;
}

.rss002 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.rss003 {
  width: 200px;
}

.rss004 {
  font-size: 2.4rem;
  padding: 0.8rem;
}

.rss005 {
  display: flex;
}

.rss006 {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.rss007 {
  position: relative;
}

.rss008 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  padding: 0.5rem;
}
.rss008 p {
  color: var(--text-color);
}
.rss009 {
  justify-content: right;
}
