.RuiTypography__h1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__h2 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__h3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__h6 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0rem;
}

.RuiTypography__body1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938rem;
}

.RuiTypography__body2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071rem;
}

.RuiTypography--colorTextSecondary {
  color: var(--dark-grey);
}

.RuiTypography--colorAccent {
  color: var(--accent-color);
}

.RuiTypography--colorDanger {
  color: var(--danger-color);
}

.RuiTypography--colorTextPrimary {
  color: var(--primary-color-light);
}

.RuiTypography--colorTextInherit {
  color: inherit;
}

.RuiTypography--gutterBottom {
  margin-bottom: 0.35em;
}

.RuiTextTransform--capitalize {
  text-transform: capitalize;
}

.RuiTextTransform--lowercase {
  text-transform: lowercase;
}

.RuiTypography--bold {
  font-weight: bold;
}

.RuiTypography--lighter {
  font-weight: lighter;
}
